@charset "UTF-8";
/* Bang
------------------------------- */
#bang {
    background-color: black;
    height: 270px;
    margin-bottom: 40px;
}

#bang .page-title {
    text-align: center;
}