@charset "UTF-8";

/* Role
------------------------------- */
#role {
    background-color: black;
    height: 270px;
    margin-bottom: 40px;
}

#role .page-title {
    text-align: center;
}

/*
------------------------------- */
.name {
    font-size: 150%;
}

li {
    color: black;
    list-style: none;
}

p {
    font-size: 150%;
}
